{% load static  %}
<link rel="stylesheet" href="{% static 'bass/css/nav.css' %}">
<div class="nav">
    <div class="container">
         <ul>
        <li><a href="{% url 'home:home' %}">Home</a></li>
      <li>
          <a href="{% url 'home:product' %}">Product</a>
        </li>

          {% if user.is_authenticated %}


              <li>Category
              <ul>
                  {% for cat in category  %}
                  <li><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
                  <ul>
                      {% for data in cat.sub.all %}
                      <li><a href="{{ data.get_absolute_url }}">{{ data.name }}</a>
                      <ul>
                          {% for i in data.sub.all %}
                          <li><a href="{{ i.get_absolute_url }}">{{ i.name }}</a>

                          </li>
                              {% endfor %}
                      </ul>
                      </li>
                          {% endfor %}
                  </ul>

                  </li>
                  {% endfor %}
              </ul>
              </li>
              <li>
          <a href="{% url 'cart:cart_detail' %}">Cart {{ nums }}</a>
        </li>
              <li>
          <a href="{% url 'account:user_profile' %}">Profile</a>
        </li>
                   <li>
          <a href="{% url 'home:contact' %}">Contact</a>
        </li>
                  <li>
          <a href="{% url 'account:log_out' %}">Logout</a>
        </li>
          {% else %}
        <li>
          <a href="{% url 'account:user_login' %}">Login</a>
        </li>
          <li>
          <a href="{% url 'account:user_register' %}">Register</a>
        </li>

              {% if not user.is_authenticated %}
                  <li >
          <a href="{% url 'account:phone' %}">Login Phone</a>
        </li>

              {% endif %}
        {% endif %}

      </ul>
    <form class="form-inline float-sm-right" action="{% url 'home:product' %}">
        <input class="form-control" type="search" placeholder="Search" name="search">
        <input type="submit" value="search" class="btn btn-danger">

    </form>

    </div>
</div>